{% include 'header.html' %}
<style>
img {
    float: left;
    padding: inherit;
}
</style>
<div class="container-fluid ">
      <div class="blogs-view ">
        <div class="row">
        {% for blog in blogs %}
            <div class=" col-12 course-block">
              <div class="speciality-block">
                  <img src="/media/{{ blog.image }}" height="159" width="238"/>
                  <h4>{{ blog.title }}</h4>
                    <a href="#" class="fa"><span>{{ blog.author }}</span></a>
                    -
                    <a href="#" class="fa"><span>{{ blog.date_posted }}</span></a>
                <p>{{ blog.content|safe }}</p>
                <a href="/courses/{{ course.slug }}" class="btn btn-primary">Read Article</a>
              </div>
            </div>
        {% endfor %}
      </div>
        </div>
      </div>
    </div>

{% include 'footer.html' %}