.idea/
db.sqlite3
venv/
.DS_Store
__pycache__/
madzones/madzones/settings/prod.py
madzones/madzones/settings/base.py
madzones/madzones/debug.log
madzones/blogs/migrations/
madzones/courses/migrations/
madzones/pages/migrations/
madzones/quizes/migrations/
madzones/Dockerfile
madzones/entrypoint.sh
docker-compose.yml