
{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12" align="left">
            <div class="quiz-background">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if is_correct_answer == True %}
                    <div class="alert alert-success">
                        Congratulations! Your answer is correct!
                        <br>{{ explanation }}
                    </div>
                    {% endif %}
                    {% if is_correct_answer == False %}
                    <div class="alert alert-danger">
                        Sorry Your Answer is not correct!
                    </div>
                    {% endif %}
                    <br>
                    <div>
                        <h5>{{ title }}</h5>
                        <div class="form-group">{{ form.as_p }}</div>
                        <input class="btn btn-primary" type="Submit" name="submit" value="{% if is_correct_answer == True %}Next{% else %}Check Answer{% endif %}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 <!--vertical line start-->

<div class="outer col-md-12">
  <div class="inner"></div>
</div>
  <!--vertical line end-->

{% include 'footer.html' %}

