


{% include 'header.html' %}
<style>
  .box_bio {
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
</style>


<div class="container">

		<center><h1>Cloud/DevOps Engineers</h1>

            <h5>"Solving the problem is not the solution but knowing the problem is"</h5>
            </center>
    <!--Horizontal line start-->
<div class="outer col-md-12">
  <div class="inner"></div>
</div>
           <p align="left"> Chandip Maskey developed an early interest in IT infrastructure Architecture and System Engineering. His growing interest in technology guides him to achieve a degree of Bachelor of Science Engineering from Louisiana Tech University. He has over Three years of professional experience.
</p>
            <p align="left">
As a cloud engineer, he specializes in IT infrastructure Architecture, System Engineering, DevOps implementation &amp; of several tools to achieve Continuous Integration, Continuous Deployment &amp; Continuous Delivery.  He has used Amazon Web Services to design cloud infrastructures for over a year.
</p><p align="left">
For the past year, Chandip has designed, built and managed large web clusters. He has deployed service orchestrator for providing automatic scaling, self-healing, and a Disaster Recovery Strategy. His current work involves containerization and orchestration of the container to establish the CI/CD process flow.
</p><p align="left">
Chandip believes “The price of success is Hard Work, Dedication, and Determination.” Also, there is no shortcut to success. He implements the Mantra in his work. During his past working experience, he has contributed his knowledge and skills in collaborative team projects as a responsible team member. He is a high performer, self-motivated, innovative and strives for excellence.
</p><p align="left">
When he is not working, Chandip finds his time in writing blogs, playing guitar and soccer to keep him in shape mentally and physically. He is also a technology greek and very responsive and adaptive towards new changes. Some of his work can be found in www.chandip.com.
 </p>
<!--Horizontal line end-->
    <div class="box_bio"><ul><center><strong>Chandip’s expertise and key strength includes: </strong></center>
<li><strong>Cloud Technology:</strong> Amazon Web Services
</li>
    <li><strong>Operating Systems:</strong> Linux (Red Hat Enterprise, CentOS, Ubuntu), Amazon Linux, Windows Servers 2008/2012 and MacOS
</li>
    <li><strong>Programming Language &amp; Web skills:</strong> Python, Javascript, PHP, Bash, Shell Scripts, HTML, CSS, JSX, JSON
</li>
    <li><strong>Database Server:</strong> PostgreSQL/MySQL, Oracle SQL Server, SQL Server 2008/2012
</li>
    <li><strong>Virtualization platform: </strong> VMware, Vagrant, Hyper-V and Citrix XenServer
</li>
    <li><strong>Container Platform &amp; Orchestration Tools:</strong> Docker, Docker-Swarm
</li>
    <li><strong>CI/CD Tools:</strong> Jenkins, GIT, Bitbucket
</li>
    <li><strong>Web Server:</strong> Apache, Nginx, Tomcat-Apache
</li>
    <li><strong>Networking Technology:</strong> TCP/IP, UDP, LDAP, LAN, WAN, DNS, DHCP, iptables, CIDR, Routing, Subnetting, NIS and NIS+
</li>
    <li><strong>Firewall Hardware:</strong> Dell SonicWall TZ300, Linksys Gigabit PoE+ switch
</li>
    <li><strong>Methodologies:</strong> Agile/Scrum, Waterfall
    </li></ul>
</div>

	</div>


{% include 'footer.html' %}