    <!--
 <div class="menu-container navbar navbar-dark bg-primary">
    <div class="menu">
      <ul>
        <li class="home-left-menu"><a href="http://localhost:8000/">Chandip Maskey</a></li>

        <li><a href="#">Home</a></li>
        &lt;!&ndash;about&ndash;&gt;

        <li><a href="#">About</a>
          <ul>
            <li><a href="#">School</a>
              <ul>
                <li><a href="#">Lidership</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </li>
            <li><a href="#">test</a>
              <ul>
                <li><a href="#"><img src="../assets/images/aboutme.png" height="132" width="180"/></a></li>
              </ul>
            </li>
            <li><a href="#">Study</a>
              <ul>
                <li><a href="#">Undergraduate</a></li>
                <li><a href="#">Masters</a></li>
                <li><a href="#">International</a></li>
                <li><a href="#">Online</a></li>
              </ul>
            </li>
            <li><a href="#">Research</a>
              <ul>
                <li><a href="#">Undergraduate research</a></li>
                <li><a href="#">Masters research</a></li>
                <li><a href="#">Funding</a></li>
              </ul>
            </li>
&lt;!&ndash;            <li><a href="#">Something</a>&ndash;&gt;
&lt;!&ndash;              <ul>&ndash;&gt;
&lt;!&ndash;                <li><a href="#">Sub something</a></li>&ndash;&gt;
&lt;!&ndash;                <li><a href="#">Sub something</a></li>&ndash;&gt;
&lt;!&ndash;                <li><a href="#">Sub something</a></li>&ndash;&gt;
&lt;!&ndash;                <li><a href="#">Sub something</a></li>&ndash;&gt;
&lt;!&ndash;              </ul>&ndash;&gt;
&lt;!&ndash;            </li>&ndash;&gt;
          </ul>
        </li>

        &lt;!&ndash;blogs&ndash;&gt;
        <li><a href="#">Blogs</a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Sport</a></li>
          </ul>
        </li>
        &lt;!&ndash;contact me&ndash;&gt;
        <li><a href="#">Contact Me</a>
          <ul>
            <li><a href="#">Email</a>
              <ul>
                <li><a href="#">chandipmaskey@yahoo.com</a></li>
              </ul>
            </li>
            <li><a href="#">Phone</a>
              <ul>
                <li><a href="#">318-497-1150</a></li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center boderforbottm">
      <nav>
        <div class="word">
          <h1 class="chandip"><a href="#">Chandip
          <span class="ani">M</span>
          <span class="ani">W</span>
          <span class="ani">M</span>
          <span class="ani">W</span>
          <span class="ani">M</span>
            &nbsp;&nbsp askey</a></h1>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>



