<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center boderforbottm">
      <nav>
        <div class="word">
          <h1 class="chandip"><a href="/">Ch<div class="normal-text">a</div>ndip &nbsp;
          <span class="ani">M</span>
          <span class="ani">W</span>
          <span class="ani">M</span>
          <span class="ani">W</span>
          <span class="ani">M</span>
            &nbsp;&nbsp;  a<div class="normal-text">S</div>key</a></h1>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>



